* {
    font-family: "Montserrat", sans-serif; /* Define a fonte padrão */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
    box-sizing: border-box; /* Inclui padding e borda nas dimensões de elementos */
}

header {
    margin: 44px 0px 144px 76px; /* Define margens para o cabeçalho */
    flex-direction: column; /* Alinha itens em coluna (se aplicável) */
}

.link-header {
    font-size: 24px; /* Tamanho da fonte */
    font-weight: 600; /* Peso da fonte */
    line-height: normal; /* Altura da linha */
    color: #989D9C; /* Cor do texto */
    cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
    margin-right: 23px; /* Margem à direita */
}

.button-header {
    border-radius: 20.5px; /* Arredonda os cantos do botão */
    background: #665AE1; /* Cor de fundo do botão */
    width: 130px; /* Largura do botão */
    height: 41px; /* Altura do botão */
    border: none; /* Remove a borda padrão */
    color: #FFF; /* Cor do texto no botão */
    font-size: 24px; /* Tamanho da fonte do botão */
    font-weight: 600; /* Peso da fonte do botão */
    line-height: normal; /* Altura da linha do botão */
    cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
}

.img-logo {
    width: 568px; /* Largura da imagem do logo */
    height: 500px; /* Altura da imagem do logo */
    margin-left: 0px; /* Margem à esquerda da imagem */
    display: inline-block; /* Exibe a imagem em linha */
}

section {
    display: inline-block; /* Exibe a seção em linha */
    margin-left: 86px; /* Margem à esquerda da seção */
}

h1 {
    color: #515151; /* Cor do h1 */
    font-size: 100px; /* Tamanho da fonte do h1 */
    font-weight: 900; /* Peso da fonte do h1 */
    line-height: 122px; /* Altura da linha do h1 */
}

h2 {
    color: #515151; /* Cor do h2 */
    font-size: 58px; /* Tamanho da fonte do h2 */
    font-weight: 500; /* Peso da fonte do h2 */
    line-height: 71px; /* Altura da linha do h2 */
}

p {
    color: #848484; /* Cor do texto do parágrafo */
    font-size: 24px; /* Tamanho da fonte do parágrafo */
    font-weight: 400; /* Peso da fonte do parágrafo */
    line-height: 29px; /* Altura da linha do parágrafo */
    width: 515px; /* Largura do parágrafo */
    margin-top: 32px; /* Margem superior do parágrafo */
    margin-bottom: 65px; /* Margem inferior do parágrafo */
}

.button-main {
    border-radius: 30px; /* Arredonda os cantos do botão principal */
    background: #ADFF00; /* Cor de fundo do botão principal */
    border: none; /* Remove a borda padrão do botão principal */
    width: 239px; /* Largura do botão principal */
    height: 64px; /* Altura do botão principal */
    cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); /* Sombra do botão principal */
    color: #000; /* Cor do texto do botão principal */
    font-size: 28px;
}

@media screen and (max-width: 800px) {

    header {
        display: none;
    }

    p {
        display: none;
    }

    .container-left {
        padding: 0;
        width: 100%;
        height: auto;
        position: static;
        margin: 140px -16px 26px 25px;
    }

    .img-logo {
        margin-left: 7%;
        width: 375px;
        height: 353px;
    }

    .button-main {
        width: 239px;
        height: 64px;
        flex-shrink: 0;
    }

    h1 {
        font-size: 57px;
        line-height: normal;
        width: auto;
        margin: 0px 0px 0px 0px;

    }

    h2 {
        font-size: 29px;
        line-height: normal;
        width: auto;
        margin: 15px 17px 17px 19px;
    }

    button {
        font-size: 30px;
        line-height: normal;
        width: auto;
        margin: 4px 8px 130px 8px;
    }
}
